h2 {  
  background-color: aquamarine;
  margin: 0;
  padding: 18px;
}
.toolbar {
  background-color: aqua;
}
.sign-out:hover, .sign-out:focus {
  background-color: darkturquoise;
}
material-item {
  padding: 5px 10px;
}
material-input-group {
  margin: 10px;
}
.message {
  width: 668px;
}
.publishBtn>material-button {
  margin: 10px;
  height: 25px;
}
.panicBtn {
  margin-right: -100px;
}
.panicBtn>material-button {
  margin: 10px;
  height: 25px;
  background-color: red;
}
.panicBtn>material-button:hover, .panicBtn>material-button:focus {
  background-color: firebrick;
}
.panicMsg {
  color: red;
}
.backupBtn {
  margin-left: 110px;
  color: green;
}
.standBtn {
  margin-left: 50px;
  color: orangered;
}
.backupMsg {
  color: green; 
}
.standMsg {
  color: orangered; 
}