h2 {  
  background-color: aquamarine;
  margin: 0;
  padding: 18px;
}
.toolbar {
  background-color: aqua;
}
.sign-out:hover, .sign-out:focus {
  background-color: darkturquoise;
}
material-item {
  padding: 5px 10px;
}
material-input-group {
  margin: 10px;
}
.message {
  width: 668px;
}
.publishBtn {
  margin-right: -25px;
}
.publishBtn>material-button {
  margin: 10px;
  height: 25px;
}
