<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <script src="http://cdn.pubnub.com/pubnub-3.5.1.js"></script>
        <script src="../bower_components/angular/angular.min.js" type="text/javascript"></script>
        <script src="../bower_components/pubnub-angular/lib/pubnub-angular.js"></script>
        <script src="../bower_components/angular-animate/angular-animate.js" type="text/javascript"></script>
        <script src="../bower_components/angular-material/angular-material.js" type="text/javascript"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="pajsApp" ng-controller="MainCtrl" layout="horizontal" layout-fill>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <material-sidenav class="material-sidenav-left">
      <!--<div ng-show="logged()">
      <material-button ng-click="createChannel()">Create Conversation</material-button>
      <material-list>
         <material-item ng-repeat="channel in channels">
           <material-button ng-class="{'material-button-colored':(selectedChannel==channel.name)}" ng-click='check(channel)'>{{channel.name}}</material-button>
         </material-item> 
         
      </material-list>
      </div>-->
      <div>
      <h2>Connected People</h2>
      <material-list>
         <material-item ng-repeat="user in users"> 
         {{user}}
         </material-item>
      </material-list>
    </div>
    </material-sidenav>
    <!-- Add your site or application content here -->
    <div layout="vertical" layout-fill>
      <material-toolbar class="toolbar">

        <div class="material-toolbar-tools">
          <span>PAJS {{username}}</span>

          <!-- fill up the space between left and right area -->
          <span flex></span>

           <material-button class="sign-out" ng-click='signOut()'>Sign Out</material-button>
        </div>

      </material-toolbar>

      <div flex="80" layout="vertical">
        <div layout="horizontal">
          <material-input-group flex>
            <material-input class="message" placeholder="New Message" type="text" ng-model="newMessage">
            </material-input></material-input-group>
          <div class="publishBtn">
            <material-button ng-click="publish()" >Send</material-button>
          </div>
        </div>
        <material-content flex>
          <material-list>
             <material-item ng-repeat="message in messages">
               {{message}}
             </material-item> 
             
          </material-list>
        </material-content>
      </div>

      <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span> SoPro PubNub Demo</p>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        
        <!-- endbuild -->
</body>
</html>
